* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family-title: "Sen", "san-serif";
    --primary-color: #FFB900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins","sans-serif";
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient:vertical;
    overflow: hidden;
    word-break: break-all;

}

.line-clamp.line-2 {
    -webkit-line-clamp: 2;

}

/* ============= Common ============= */

a {
    text-decoration:none
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display:inline-block;
    min-width: 118px;
    line-height: 50px;
    padding:0 16px;
    border-radius: 24.5px;
    color: #fff;
    background: #171100;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    color: #171100;
    font-family: var(--font-family-title); 
    font-weight: 700;
    letter-spacing: -0.02rem;
}

.heading.lv1 {
    font-size: 5.5rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

/* ============= Header ============= */
.header {
    background-color: #FFFCF4;
}

.header.fix {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    position:relative;
    padding: 8px 21px;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
}

.header li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.header li.active a::after {
    content: "";
    position:absolute;
    left: 21px;
    bottom: 6px;
    display:inline-block;
    width: 12px;
    height: 2px;
    border-radius: 999px;
    background-color: #171100;

}

.header .action {
    margin-left: 49px;
}

.header .sig-up-btn {
    min-width: 144px;
}

/* ============== Hero ============= */
.hero {
    padding: 56px 0 65px 0;
    background: #FFFCF4;
}
.hero .body {
    display:flex;
}

.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .image {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.summary-hero {
    position: absolute;
    right: 0;
    bottom: 48px;
    padding:24px;
    width: 270px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
 
.summary-hero .item {
    display: flex;
    align-items: center;
}

.summary-hero .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF9E8;
}

.summary-hero .info {
    margin-left: 16px;
}

.summary-hero .lable {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; 
}

.summary-hero .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.68; 
}

.summary-hero .item + .item {
    margin-top: 14px;
}

.summary-hero .item:nth-of-type(2) .icon {
    background: #FCEFFF;
}

.summary-hero .item:nth-of-type(3) .icon {
    background: #EBEAFF;
}

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}



.content-block .sub-title {
    margin: 22px 0;;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; 
}

.content-block .cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.content-block .hero-cta {
    min-width: 180px;
    line-height: 64px;
    border-radius: 32px;
    background: var(--primary-color);
}

.hero .watch-video {
    border: none;
    background: transparent;
    display:flex;
    align-items: center;
    margin-left: 28px;
    cursor: pointer;
}


.watch-video .play {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}

.watch-video .play span{
    margin: auto;
    display: inline-block;
    width: 30px;
    height: 30px;
    clip-path: polygon(43% 33%, 43% 63%, 69% 49%);
    background: var(--primary-color);
    

}

.watch-video .watch {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.content-block .desc,
.content-block .quanty p {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; 
}

.content-block .quanty {
    margin-top: 8px;
    display: flex;
}

.content-block .quanty p {
    margin-right: 28px;
}

.content-block .quanty p span {
    color: #171100;
    font-family: var(--font-family-title);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
    margin-right: 10px;
     
}

/* ========== Popular ===========*/
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .info .desc {
    margin-top: 16px;
    width: 458px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; 
}

.popular-top .control-btn {
    margin-left: 18px;
    display:inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background: transparent;
    cursor: pointer;
}

.popular-top .control-btn i {
    margin: auto;
    color: var(--primary-color)
}

.popular-top .control-btn:hover {
    background: var(--primary-color);
}

.popular-top .control-btn:hover i {
    color: #fff;
}

.courses-list {
    margin-top: 55px;
    display: flex;
    
    gap: 30px;
}

.course-item .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.courses-list .course-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    background: #FFF;
}

.course-item .info {
    padding: 16px 22px 22px;
}

.course-item .info .foot,
.course-item .head .rating,
.course-item .info .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-item .info .title a{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; 
}

.course-item .head .value {
    margin-left: 6px;
    color: #FEA31B;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.course-item .info .desc {
    margin-top: 6px;
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.857;
}

.course-item .info .foot {
    margin-top: 12px;
}

.course-item .info .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; 
}

.course-item .info .course-btn {
    border: none;
    cursor: pointer;
}

.course-item .info .course-btn:hover {
    background-color: var(--primary-color);

}

.courses-list .course-item:hover {
    border-color: transparent;
    background: #FFF;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

/* ============= Feedback ============= */

.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2E2100;
}

.feedback-item {
    display:flex;
    justify-content: space-between;
}

.feedback-item .info .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-item .info .name {
    margin-top: 18px;
    color: #F7F7F7;
    font-family: var(--font-family-title);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42; 
}

.feedback-item .info .desc {
    margin-top: 4px;
    color: #BFBCB2;
    font-size: 1.4rem;
    line-height: 1.857; 
}

.feedback-item .info .dots {
    display: flex;
    gap: 6px;
}

.feedback-item .info .dot {
    margin-top: 28px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .info .dot.active {
    background: #ffb900;
    cursor: default;
}

.feedback-item .block-content {
    width: 66%;
}

.feedback-item blockquote {
    padding-left: 30px;
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54;
}